@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  }
body{
}
.h{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin: 5vh 10vw 0vh 10vw;
  border-radius: 40px 40px 0 0;
  padding-bottom: 10px;
}
.h a{
  text-decoration:none;
  font-family: 'Press Start 2P', cursive;
  font-size: 2em

}

.con{
  height: 70vh;
  margin: 0 10vw 0 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 10vw 0 10vw;
  height: 10vh;
  border-radius: 0 0 40px 40px;
}
.footer>div{
  margin:0 30px 0 30px;
}
.footer a{
  font-size: 1.5em;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
}
.footer a:hover{

}
